bin/lein
config/autostart
config/blueman
config/brasero
config/chromium
config/dconf
config/Empathy
config/enchant
config/eog
config/evince
config/gedit
config/ghb
config/gthumb
config/gtk-2.0
config/hotot
config/hub
config/inkscape
config/itunes graphite.vlt
config/kupfer/*pickle*
config/leafpad
config/libimobiledevice
config/libreoffice
config/.libreoffice
config/midori
config/mousepad
config/mpd/db
config/mpd/log
config/mpd/pid
config/mpd/state
config/mpd/sticker.sql
config/NetManagers
config/pavucontrol.ini
config/pip/cache
config/pip/pip.log
config/recorder
config/sonata
config/thoggen
config/Thunar
config/transmission
config/Trolltech.conf
config/Ulduzsoft
config/ultimate-smash-friends
config/viewnior
config/vlc
config/xarchiver
config/xfburn
config/xfce4
config/xmoto
mpd/mpd.db
mpd/mpd.log
mpd/mpd.pid
mpd/sticker.sql
vim/bundle
vim/colors
vim/.netrwhist
vim/swap
